# Ignore folders.
.cloud
.google.token
.storage/*
.vscode
blueprints
custom_components
icloud
image
custom/logs
secrets
custom/quotes
nest
node-red
ssh
custom/themes
tts
www
__pycache__/
o365_storage


# Ignore files
.uuid
home-assistant*
update.sh
custom/shell_scripts/.dropbox_uploader
glow.conf
skyq*.yaml

Reinclude files
!.storage/lovelace
!.storage/lovelace.lovelace_admin
!.storage/lovelace_resources

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
known_devices.old
.vscode/launch.json
