# Ignore folders.
.cloud
.google.token
.O365-token-cache
.storage/*
.vscode
custom_components
icloud
image
logs
node-red
ssh
themes
tts
www
__pycache__/

# Ignore files
.uuid
home-assistant*
update.sh
shell_scripts/.dropbox_uploader

Reinclude files
!.storage/lovelace
!.storage/lovelace_resources
!shell_scripts/.dropbox_uploader.sh

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
known_devices.old
.vscode/launch.json
